<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card *ngFor="let fav of favourites">
    <img src="{{fav.image}}" alt="{{fav.title}}"/>
    <ion-card-header>
      <ion-card-title>{{fav.title}}</ion-card-title>
    </ion-card-header>
    <ion-button (click)="viewDetails(fav)">Details</ion-button> 
  </ion-card>

  <p *ngIf="favourites.length === 0">
    No favourites saved yet.
  </p>
</ion-content>
