<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00439376
    </ion-title>
    <ion-buttons slot="end"><!-- put icons to the end of the row -->
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Enter ingredients" [(ngModel)]="ingredientRequest"></ion-searchbar>
  <ion-button (click)="getReceipesByIngredients()">Search</ion-button>

  <ion-card *ngFor="let recipe of recipeInfo">
    <img src="{{recipe.image}}" />
    <ion-card-header>
      <ion-card-title>{{recipe.title}}</ion-card-title>
    </ion-card-header>
    <ion-button>Details</ion-button> 
  </ion-card>
  

</ion-content>